[run]
branch = 1
omit =
    web_payments/test_*.py
    web_payments/*/test_*.py
source = web_payments

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    return NotImplemented
