{% include "base.html" %}
{% load i18n %}

{% block main %}
<form action="{{ form.action }}" method="{{ form.method }}">
  {% if form.action in safe_urls %}
    {# form doesn't leak token in these cases #}
    {% csrf_token %}
  {% endif %}

  {% if not form.validate %}
  <div class="w3-red">
      <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
  </div>
  {% endif %}

  {% for field in form %}
      {% if field.is_hidden %}
          {{ field }}
      {% else %}
          <span class="form-group {% if field.errors %}error{% endif %}">
              {{ field.label }}
              {{ field }}
              {% for error in field.errors %}
                  <ul class="error-block">
                      <li>{{ error }}</li>
                  </ul>
              {% endfor %}
          </span>
      {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary btn-large">{% trans "Proceed" %}</button>
</form>
{% endblock %}
